* {
    
    background-color: blanchedalmond;
}
main {
    padding: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: sans-serif;
}
input {
    margin: 20px;
    background-color: white;
}
button {
    background-color: gray;
    border-radius: 25px;
}
#weather {
    font-size: 18px;
    font-weight: light;
}
ol {
    
    list-style: none;
}
li {
    padding: 3px;
    font-size: 12px;
}


.color1 {
    color: #6C91BF;
}

.color4 {
    color: #5FB0B7;
}

.color5 {
    color: #5BC8AF;
}
.color2 {
    color: #AF2BBF;
}

.color3 {
    color: #A14EBF;
}


